body {
	background-color: #FFFFFF
}

/*@media (orientation: landscape) {*/
@media screen and (max-width: 1200px) and (min-width: 801px) {	
	#landscape {
		display: none;
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 500;
	}

	#noLandscape {
		margin-top: 17%;
		z-index: 601;
		background-color: black;
	}

	#noLandscape p {
		text-align: center;
		color: #FFFF00;
		font-size: 3.5em;
	}
}

#wrapper{
	/*border: 2px dashed #8B0000;*/
	margin: auto;
	height: 100%;
	width: 100%;
}

#header {
	/*border: 2px dashed #FFFFFF;*/
	height: 60px;
	background-color: #8B0000;
	border-radius: 5px;
	display: block;
}

#header p {
	margin: auto;
	position: relative;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	font-family: 'Roboto', sans-serif, 'monospace';
	color: #FFFFFF;
}

#imgLogin {
	margin-top: 0.5%;
	border: 2px solid #8B0000;
	border-radius: 5px;
}

#imgLogin img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 300px;
}

#inputContainer {
	border: 2px solid #8B0000;
	border-radius: 5px;
	margin-top: 0.5%; 
}

#mensaje {
	width: 85%;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #FFD700;
	padding: 1px;
	border-radius: 5px;
	background-color: #FFFF00;
	font-family: 'Roboto', sans-serif, 'monospace';
	font-size: 1.2em;
}

#mensaje p {
	width: 100%;
	margin: 1px 1px;
	padding: 1px;
	text-align: center;
}

.separadorLeft {
	/*border: 1px dashed green;*/
	display: inline-block;
	width: 220px;
	height: 40px;
	padding: 0px 0px;
	/*margin: 0px 0px;*/
	margin-top: 5px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	/*vertical-align: bottom;*/
}

.separadorRight {
	/*border: 1px dashed green;*/
	display: inline-block;
	width: 350px;
	height: 45px;
	margin: 0px 0px;
}

.ploginUC {
	text-align: center;
	margin: 0px 0px;
	padding: 0px 0px;
}

.loginLabels {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif, 'monospace';
	margin: 0px 0px;
	padding: 0px 0px;

}

.loginInputs {
	height: 40px;
	width: 290;
	margin: 0px 0px;
	padding: 0px 0px;
	font-family: 'Baloo Bhai', cursive, 'monospace';
	font-size: 1.5em;
	border-radius: 5px;
}

#in {
	/*border: 1px dashed green;*/
	margin-top: 2%;
	margin-bottom: 1%;
	margin-left: 80%;
	padding: 0px 0px;
	width: 65px;
	height: 55px;
}

#in p{
	/*border: 1px dashed red;*/
	margin: 0px 0px;
	padding: 0px 0px;
}

#boton {
	/*border: 1px dashed blue;*/
	height: 50px;
	width: 65px;
	margin: 0px 0px;
	padding: 0px 0px;
	border-radius: 50px;
}





#noLandscape {
	z-index: -1;
	color: #FFFFFF;
}