body {
	background-color: #FFFFFF
}

/*@media (orientation: landscape) {*/
@media screen and (max-width: 1200px) and (min-width: 801px) {	
	#landscape {
		display: none;
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 500;
	}

	#noLandscape {
		margin-top: 17%;
		z-index: 601;
		background-color: #FFFF00;
	}

	#noLandscape p {
		text-align: center;
		color: red;
		font-size: 3.5em;
	}
}

#wrapper{
	margin: auto;
	height: 100%;
	width: 100%;
	/*border: 2px dashed #8B0000;*/
}

#header {
	height: 60px;
	background-color: #8B0000;
	/*border: 2px dashed #FFFFFF;*/
	border-radius: 5px;
	display: block;
}

#header p {
	margin: auto;
	position: relative;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	font-family: 'Roboto', sans-serif, 'monospace';
	color: #FFFFFF;
}

.containerBusquedas {
	border: 2px solid #8B0000;
	border-radius: 5px;
	margin-top: 0.5%; 
}

#mensaje {
	width: 85%;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #FFD700;
	padding: 1px;
	border-radius: 5px;
	background-color: #FFFF00;
	font-family: 'Roboto', sans-serif, 'monospace';
	font-size: 1.2em;
}

#mensaje p {
	width: 100%;
	margin: 1px 1px;
	padding: 1px;
	text-align: center;
}

.separadorLeft {
	/*border: 1px dashed green;*/
	display: inline-block;
	width: 220px;
	padding: 0px 0px;
}

.separadorRight {
	/*border: 1px dashed green;*/
	display: inline-block;
	width: 350px;
}

.pBusquedas {
	text-align: center;
}

.busquedasLabels {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif, 'monospace';
}

.inputsBusquedas {
	height: 40px;
	font-family: 'Baloo Bhai', cursive, 'monospace';
	font-size: 1.5em;
	border-radius: 5px;
}

#go {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 80%;
	width: 65px;
	height: 55px;
}

#go p {
	/*border: 1px dashed green;*/
	padding: 0px 0px;
	margin: 0px 0px;
}

#boton {
	/*border: 1px dashed blue;*/
	padding: 0px 0px;
	margin: 0px 0px;
	height: 50px;
	width: 65px;
	border-radius: 50px;
}




/* TABLA */
.Table {
	/*border: 1px dashed green;*/
	display: block;
	overflow-x: auto;
	width: 95%;
	/*margin: 0px auto;*/
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 1%;
	margin-left: auto;
		}

.Heading {
	background-color: #FFFFFF;
	display: table-row;
	color: #8B0000;
	font-family: 'Open Sans', sans-serif, 'monospace';
	text-align: center;
		}

.Row {
	display: table-row;
	padding: 0px 0px;
		}

.Row:nth-child(odd) {
	background-color: #778899; 
}

.Row:nth-child(even) {
	background-color: #A9A9A9;
}

.Cell {
	display: table-cell;
	border: 1px solid #FFFFFF;
	border-width: thin;
	padding: 0px 3px;
	font-family: 'Baloo Bhai', cursive, 'monospace';
	text-align: center;
	vertical-align: middle;
		}

.CellColor {
	/*background-color: #D8BFD8;*/
	color: #FFFFFF;
}		

.Cell p {
	/*border: 1px dashed green;*/
	padding: 0px 0px;
	margin: 0px 0px;
}		


footer {
	width: 70%;
	margin: 0px auto;
	border-radius: 5px;
	background-color: #BC8F8F;
}

footer p {
	text-align: center;
}

footer p a img {
	height: 50px;
	width: 50px;
}










#noLandscape {
	z-index: -1;
	color: #FFFFFF;
}