body {
	background-color: #FFFFFF
}

/*@media (orientation: landscape) {*/
@media screen and (max-width: 1200px) and (min-width: 801px) {	
	#landscape {
		display: none;
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 500;
	}

	#noLandscape {
		margin-top: 17%;
		z-index: 601;
		background-color: #FFFF00;
	}

	#noLandscape p {
		text-align: center;
		color: red;
		font-size: 3.5em;
	}
}

#wrapper{
	margin: auto;
	height: 100%;
	width: 100%;
	/*border: 2px dashed #8B0000;*/
}

#header {
	height: 60px;
	background-color: #8B0000;
	/*border: 2px dashed #FFFFFF;*/
	border-radius: 5px;
	display: block;
}

#header p {
	margin: auto;
	position: relative;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	font-family: 'Roboto', sans-serif, 'monospace';
	color: #FFFFFF;
}

#opciones {
	border: 2px solid #8B0000;
	border-radius: 5px;
	margin-top: 0.5%;
	background-color: #BC8F8F; 
}

.options {
	width: 500px;
	border-radius: 5px;
	margin: 3% auto 1% auto;
	padding: 0px 0px;
	background-color: #FFF;
	/*border: 1px solid #A52A2A;*/	
}

.btnLabels {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif, 'monospace';
	width: 230px;
	display: inline-block;
	padding: 0px 0px;
	margin: 0px 30% 1% 2%;
	/*border: 1px dashed green;*/
}

.btnLabels p {
	padding: 0px;
	margin: auto;
	position: relative;
	text-align: center;	
}

.BtnImg {
	width: 90px;
	display: inline-block;
	padding: 0px 0px;
	margin: 0px 2% 0px 0%;
	/*border: 1px dashed green;*/	
}

.BtnImg p {
	margin: auto;
	position: relative;
	text-align: center;	
}

#boton {
	padding: 0px 0px;
	/*margin: 0px auto;*/
	height: 50px;
	width: 65px;
	/*border-radius: 50px;*/
}






#noLandscape {
	z-index: -1;
	color: #FFFFFF;
}