body {
	background-color: #FFFFFF
}

/*@media (orientation: landscape) {*/
@media screen and (max-width: 1200px) and (min-width: 801px) {	
	#landscape {
		display: none;
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 500;
	}

	#noLandscape {
		margin-top: 17%;
		z-index: 601;
		background-color: #FFFF00;
	}

	#noLandscape p {
		text-align: center;
		color: red;
		font-size: 3.5em;
	}
}

#wrapper{
	margin: auto;
	height: 100%;
	width: 100%;
	/*border: 2px dashed #8B0000;*/
}

#header {
	height: 60px;
	background-color: #8B0000;
	/*border: 2px dashed #FFFFFF;*/
	border-radius: 5px;
	display: block;
}

#header p {
	margin: auto;
	position: relative;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	font-family: 'Roboto', sans-serif, 'monospace';
	color: #FFFFFF;
}

.containerEdit {
	border: 2px solid #8B0000;
	border-radius: 5px;
	margin-top: 0.5%; 
	text-align: center;
}

#mensaje {
	width: 85%;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #FFD700;
	padding: 1px;
	border-radius: 5px;
	background-color: #FFFF00;
	font-family: 'Roboto', sans-serif, 'monospace';
	font-size: 1.2em;
}

#mensaje p {
	width: 100%;
	margin: 1px 1px;
	padding: 1px;
	text-align: center;
}

.separadorLCR {
	border: 1px dashed green;
	display: inline-block;
	width: 15%;
	padding: 0px 0px;
	margin: 0px auto;
}

.separadorL {
	width: 15%;
}

.separadorC {
	width: 60%;
}

.separadorR {
	width: 15%;
}

.pEdit {
	border: 1px dashed blue;
	text-align: center;
	margin: 0px 0px;
}

.editLabels {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif, 'monospace';
}

.inputsEdit {
	height: 40px;
	font-family: 'Baloo Bhai', cursive, 'monospace';
	font-size: 1.5em;
	border-radius: 5px;
}

#boton {
	/*border: 1px dashed blue;*/
	padding: 0px 0px;
	margin: 0px 0px;
	height: 50px;
	width: 65px;
	border-radius: 50px;
}

.divisor1234 {
	border: 1px dashed green;
	display: inline-block;
	padding: 0px 0px;
	margin: 0px auto;
}

.divisor1 {
	width: 20%;	
}

.divisor2 {
	width: 25%;
}

.divisor3 {
	width: 20%;
}

.divisor4 {
	width: 25%;
}

.showLabels {
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif, 'monospace';
}

.inputShow {
	width: 90%;
	height: 40px;
	font-family: 'Baloo Bhai', cursive, 'monospace';
	font-size: 1.5em;
	border-radius: 5px;
}



footer {
	width: 70%;
	margin: 0px auto;
	border-radius: 5px;
	background-color: #BC8F8F;
}

footer p {
	text-align: center;
}

footer p a img {
	height: 50px;
	width: 50px;
}





#noLandscape {
	z-index: -1;
	color: #FFFFFF;
}